* { box-sizing: border-box; }
.contenedor1{

}

.contenedor-card{
    display: flex;
    flex-wrap: wrap;          /* permite salto de línea */
    gap: 17px;
    justify-content: flex-start;
    margin-bottom: 50px;


    /*display: flex;
    justify-content: space-between;
    gap: 20px;*/
}

.titulo-flechas{
    height: 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7px;
    margin-top: 7px;

    h3{
        align-items: center;
        font-family: Manrope;
        font-weight: 700;
        font-size: 28px;
        
    }
}

.flechas {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 210px;
    height: 50px;
    gap: 16px;
    font-size: 42px;
    border-radius: 10px;
    background-color: rgba(15, 15, 15, 1);
    .icono-flecha{
        border-radius: 12px;
        cursor: pointer;
        background-color: rgba(31, 31, 31, 1)
        
        
    }
    .botones{
        display: flex;
        align-items: center;
        gap: 8px;
        button{
            width: 23px;
            height: 4px;
        }
    }
}

/*Contenedor de trajetas*/

.card1{
    /*width: 283px;
    height: 372px;*/
    width: 224px;
    height: 305px;
    border-radius: 12px;
    text-align: center;
    background-color: rgba(38, 38, 38, 1);
    transition: transform 0.3s ease;
    overflow: hidden;
    img{
        /*padding: 20px 20px 20px 20px;*/
        width: 200px;
        height: 238px;
        margin-inline: 10px;
        margin-top: 10px;
        margin-bottom: 5px;
    }
    .duracion{
        display: flex;
        justify-content: space-between;
        padding-inline: 10px;
        
        
        p{
            font-size: 11px;
            padding-top: 3px;
            
        }
        

    }
}

.tiempo{
    display: flex;
    text-align: center;
    width: 108;
    height: 36;
    gap: 5px;
    padding: 8px;
    border-radius: 50px;
    background-color: rgba(20, 20, 20, 1);
    width: 92px;
    height: 30px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-top: 5px;
   

}
.vista{
    display: flex;
    gap: 5px;
    padding-inline: 6px;
    border-radius: 50px;
    background-color: rgba(20, 20, 20, 1);
    width: 60px;
    height: 30px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-top: 5px;
    

}

.card1:hover{
    transform: scale(1.07)

}
.icono-flecha:hover{
    background-color: rgb(54, 54, 54)
}






.card2{
    width: 284px;
    height: 388px;
    border-radius: 12px;
    text-align: center;
    background-color: rgba(38, 38, 38, 1);
    transition: transform 0.3s ease;
    img{
        padding: 10px 10px 1px 10px;
        width: 280px;
    }
    .duracion{
        display: flex;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
        p{
            font-size: 11px;
            padding-top: 3px;
            
        }
        

    }
}

.card2:hover{
    transform: scale(1.07)
}

.publicacion{

    border-radius: 50px;
    background-color: rgba(20, 20, 20, 1);
    width: 250px;
    height: 30px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-top: 5px;
}

.estrellas{
    display: flex;
    align-items: center;
    gap: 1px;
    padding-inline: 6px;
    border-radius: 50px;
    background-color: rgba(20, 20, 20, 1);
    width: 108px;
    height: 30px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-top: 5px;
    font-size: 13px;
}