.contenedor1{

    width: 100%;
    padding:20px 6%;
    
    .parte1{
        margin-bottom: 50px;
        h3{
            font-family: Manrope;
            font-size: 38px;
            margin-bottom: 14px;
        }
        p{
            font-family: Manrope;
            font-size: 18px;
        }
}
}


.contenedorTarjetas{
    display: grid;
    grid-template-columns: repeat(3,1fr);

    
    img{
        padding: 16px;
        
        border-radius: 12px;
        background-color:rgba(20, 20, 20, 1)
        
    }
    h4{
        font-family: Manrope;
        font-weight: 600;
        font-size: 24px;
        padding-left: 16px;
       
    }

    .seccion1{
    display: flex;
    height: 72px;
    align-items: center;
    padding: 50px 50px 15px 25px;
    }

}

    .seccion2{

        text-align: justify;
        padding: 25px 
        
    }


/*Tarjeta general*/
.tarjeta1{
    margin: 10px;
    /*margin-right: 10px;
    margin-bottom: 15px;*/
    border: solid 0.5px;
    border-radius: 12px;
    border-color: rgba(38, 38, 38, 1);
    background: linear-gradient(to left, rgba(209, 25, 25, 0.048),  rgba(243, 243, 243, 0));
    color: rgb(214, 204, 204);
    transition: box-shadow 0.4s ease, transform 0.5s ease, background 0.4s ease;
   
}

.tarjeta1:hover{
    box-shadow: 0 08px 20px rgba(141, 11, 11, 0.2);
    transform: scale(1.05);
    background: linear-gradient(to right, rgba(209, 25, 25, 0.048),  rgba(243, 243, 243, 0));
}